{% extends 'base.html' %}

{% block title %} categoria alta {% endblock %}

{% block content %}
	<section class="container">
		<div class="jumbotron mt-5">
			<h1 class="display-4 text-center">Categoria Alta</h1>
			<p class="text-center">En esta categoría se encuentran los asientos reservados para los verdaderos aficionados, aquellos que desean disfrutar la emoción del momento como un auténtico	apasionado del deporte. Sé testigo de la victoria de tu equipo en primera fila con todos los lujos.</p>
		</div>
	</section>    
{% endblock %}